[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "==19.3.*"
pydantic = "==0.23"
kin-sdk = "==2.4.0"

[dev-packages]
ipython = "*"
pytest = "*"
pytest-sanic = "==1.0.0"
asynctest = "*"

[requires]
python_version = "3.7"
